<!doctype html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<meta charset="utf-8"/>
<head>
    <title>Collab Writing</title>

    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<div class="jumbotron text-center container-fluid">
    <h1 id="header">Pisanie Kolaboracyjne</h1>
    <p id="combo">Historie tworzone z pasją</p>
</div>

    <nav class="navbar navbar-inverse " data-spy="affix" data-offset-top="225">

        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://localhost:8080">Strona Główna</a>
            </div>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Twórcy<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Pisarze</a></li> <!-- "/users/writers" -->
                        <li><a href="#">Kolaboranci</a></li> <!-- "/users/collabs" -->
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Historie<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/stories/newest">Świeżo stworzone</a></li>
                        <li><a href="#">Ostatnio dopisane</a></li>  <!-- based on 'lastUpdated' -->
                        <li><a href="#">Zakończone</a></li> <!-- based on 'active = false' -->
                    </ul>
                </li>

                <li class="dropdown"> <!-- //TODO security - sec:authorize="hasRole('ROLE_ADMIN')" -->
                    <a href="#" class="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kącik Pisarza<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/stories/create">Stwórz nową Historię</a></li>
                        <li><a href="#">Przegląd Dzieci</a> </li>
                        <!-- utworzyć listę w bok: najmłodsze; najstarsze; ostatnio ruszone -->
                        <li><a href="#">Zakończone</a></li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-text navbar-right">
                <a href="/sign">Dołącz do Nas!</a> <span class="glyphicon glyphicon-user"></span> |
                <a href="/login">Zaloguj się</a> <span class="glyphicon glyphicon-log-in"></span>
            </div>

        </div>
    </nav>

<div class="text" style="min-height:500px">

    <div layout:fragment="content">
    </div>

    <footer class="navbar-fixed-bottom">
        <p id="copyrights">Copyright <a href="https://github.com/kattie95">kattie95©</a></p>
    </footer>

</div>
</body>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>