<!doctype html>
<html
        xmlns:layout="http://www.w3.org/1999/xhtml">
<meta charset="utf-8"/>
<head>
    <title>Collab Writing</title>

    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<div>

    <div class="jumbotron text-center">
        <h1 id="header">Pisanie Kolaboracyjne</h1>
        <p id="combo">Historie tworzone z pasją</p>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Strona Główna</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>

            <div class="navbar-text navbar-right">
                <a href="#">Dołącz do Nas!</a> | <a href="#">Zaloguj się</a>
            </div>

        </div>
    </nav>

    <div layout:fragment="content">
    </div>

    <footer>
        <p>Copyright <a href="https://github.com/kattie95">kattie95©</a></p>
    </footer>
</div>

<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>

</body>
</html>