<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        layout:decorator="layouts/main">
<meta charset="utf-8"/>
<head>
    <title>Kolaboracyjne Historie</title>
</head>
<body>
<div layout:fragment="content">

    <article th:each="story : ${stories}">
        <header>
            <h2 id="combo" th:text="${story.title}">Pożądany tytuł tu będzie/ ma być.</h2>
            <p th:text="${#calendars.format(story.startedOn, 'MM/dd/yyyy HH:mm:ss')}">Data, w której Historia się zaczęła.</p>
        </header>
        <section th:utext="${story.description}">
            Opis historii w paru -nastu słowach. To się rozwinie. Pracuję nad tym :)
        </section>
        <br/>
        <footer>
            <p th:if="${story.posts.size() == 0}">
                Jeszcze nikt nie dodał Wpisu do tej Historii. <a href="#">Zapraszam :) </a>
            </p>
            <p th:if="${story.posts.size() > 0} and ${story.active == true}">
                Ta Historia ma obecnie <span class="badge" th:text="${story.posts.size()}">za mało</span> Wpisów. <br/>
                <a th:href="|@{/stories/view/}${story.id}|">Czytaj Historię!</a>
            </p>
            <p th:if="${story.active == false}">
                Ta Historia posiada już swoje zakończenie. Nie będzie dalej rosła, jednak zostanie dla głodnych Czytelników. <br/>
                Posiada <span class="badge" th:text="${story.posts.size()}">za mało</span> Wpisów.
                <a th:href="|@{/stories/view/}${story.id}|">Czytaj Historię!</a>
            </p>
            <address>
                Historia zaczęta przez <a href="#"><span th:text="|${story.user.fullName}|">Imię i nazwisko Pisarza z linkiem do innych Historii.</span></a>
            </address>
        </footer>
        <hr/>
    </article>

</div>
</body>
</html>