<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        layout:decorator="layouts/mainPage">
<head>
    <title th:text="${story.title}">Tytuł wybranej historii</title>
</head>
<body>

<div layout:fragment="content">

    <article>
        <header>
            <h2 th:text="${story.title}">Tytuł</h2>
            <p th:text="${#calendars.format(story.startedOn,'dd/MM/yyyy HH:mm ')}">Data zaczętej historii.<br/>
                <span th:text="|${story.user.fullName}|"><a href="#">Pełna nazwa autora, przez którą idzie się do jego strony z innymi Historiami.</a></span></p>
        </header>

        <section th:utext="${story.description}">
            Opis hisorii.
        </section>
        <hr/>
        <article th:each="post : ${posts}">

            <section th:utext="${post.postBody}">
                Wpis do Historii
            </section>
            <footer>
                <br/>
                <p th:text="${#calendars.format(post.postedOn, 'MM/dd/yyyy HH:mm:ss')}">Data, w której dodano Wpis.</p>
                    <p th:text="|${post.user.fullName}|">Nazwa dodającego Wpis.</p>
                <a id="comments" th:href="|@{/stories/comments/}${post.id}|">Komentarze! <span class="badge" th:text="${post.comments.size()}">n</span></a>
            </footer>
            <hr/>
        </article>

        <p th:if="${posts.size() == 0}">
        <div class="alert alert-warning" role="alert">Jeszcze nikt nie dodał Wpisu. Możesz być pierwszy!</div>
        </p>

        <!-- Opcja dodania nowego postu, tuż pod resztą postów.-->
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#create">Dodaj post!</button>
        <div id="create" class="collapse">
            <form class="form-horizontal" th:object="${post}" th:action="@{/stories/view/save}" method="post">

                <input type="hidden" th:field="*{id}" />

                <div class="form-group">    <!-- //TODO ma brać czas aktualny - startedOn-->
                    <label class="col-sm-2 control-label">Data spisania:</label>
                    jak tylko naciśniesz guziczek.
                    <input type="hidden" th:field="*{postedOn}" />
                </div>

                <!--   //TODO ma brać autora automatycznie - userId -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Co będzie we Wpisie?</label>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="3" th:field="*{postBody}">ciąg dalszy historii</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Powiedz!</button>
            </form>
        </div>

        <hr/>

        <footer>
            <address>
                Podoba Ci się? Zajrzyj po więcej <a href="">Historii</a> zaczętych i prowadzonych przeze mnie.
            </address>
        </footer>
        <hr/>
    </article>

</div>

</body>
</html>