/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Combo&subset=latin-ext'); /*Combo*/
@import url('https://fonts.googleapis.com/css?family=Akronim&subset=latin-ext'); /*Akronim*/
@import url('https://fonts.googleapis.com/css?family=Galada'); /*Galada*/
@import url('https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo'); /*Swanky and Moo Moo*/
@import url('https://fonts.googleapis.com/css?family=Quintessential'); /*Quintessential*/

body {
    background: url('../img/background.jpg') fixed no-repeat;
    background-size: 100%;
    }

p, section{
    font-family: 'Quintessential', cursive;
}

footer{
    font-family: 'Galada', cursive;
}

#copyrights {
    text-align: right;
    font-family: 'Swanky and Moo Moo', cursive;
}

#combo {
    font-family: 'Combo', cursive;
}

#header {
    font-family: 'Akronim', cursive;
    color:#330033;
}

#comments{
    text-align:right;
    font-family: 'Galada', cursive;
}

.text{
    margin:55px;
}

.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }



/*Login SetUp*/

#frmlogout {
	display:inline;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 0 40px 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}