<!doctype html>
<html
        layout:decorator="layouts/mainPage">
<meta charset="utf-8"/>
<head>
    <title>Kolaboracja - Home Page</title>
</head>
<postBody>
<div layout:fragment="content">

    <div>
    <h2 id="combo">Pisanie Kolaboracyjne</h2>
        <div class="col-md-12">
            <p>Strona tworzona dla ludzi, którzy lubią bawić się słowem i historiami, tworzonymi w nieco niestandardowy sposób.</p>
            <p>Jeśli lubisz pisać i chcesz się dobrze bawić czytając zapoczątkowaną przez Ciebie historię - dołącz jako Pisarz. <br/> Jeśli nie czujesz się aż tak dobrze w kunszcie pisania, ale i tak to lubisz oraz uważasz, że masz interesujące pomysły - śmiało, dołącz jako Kolaborant!<br/> Natomiast jeśli jesteś zaintrygowany eksperymentem tutaj się odbywającym, chcesz czytać całe historie i może czasami rzucić jakimś słowem komentarza - nie krępuj się, dla Ciebie jest ciepłe miejsce Czytelnika. </p>
            <p>Niech Wasza inwencja i siła kreacji stworzy niespotykane historie, które będą podlegać Waszym regułom.</p>
        </div>
    <h4>Czyli po prostu - piszmy wspólnie i dobrze się bawmy!</h4>
    </div>


</div>
</postBody>
</html>