<!doctype html>
<html
        layout:decorator="layouts/mainPage">
<meta charset="utf-8"/>
<head>
    <title>Kolaboracja - Home Page</title>
</head>
<body>
<div layout:fragment="content">

    <div>
    <h2 id="combo">Pisanie Kolaboracyjne</h2>
        <div class="col-md-12">
            <p>Strona tworzona dla ludzi, którzy lubią bawić się słowem i historiami, tworzonymi w nieco niestandardowy sposób.</p>
            <p>Jeśli lubisz pisać i chcesz się dobrze bawić czytając zapoczątkowaną przez Ciebie historię - dołącz jako Pisarz. <br/> Jeśli nie czujesz się aż tak dobrze w kunszcie pisania, ale i tak to lubisz oraz uważasz, że masz interesujące pomysły - śmiało, dołącz jako Kolaborant!<br/> Natomiast jeśli jesteś zaintrygowany eksperymentem tutaj się odbywającym, chcesz czytać całe historie i może czasami rzucić jakimś słowem komentarza - nie krępuj się, dla Ciebie jest ciepłe miejsce Czytelnika. </p>
            <p>Niech Wasza inwencja i siła kreacji stworzy niespotykane historie, które będą podlegać Waszym regułom.</p>
        </div>
    <h4>Czyli po prostu - piszmy wspólnie i dobrze się bawmy!</h4>
        <hr/>
    </div>

    <h3>Ostatnio dodany Wpis: </h3>
    <h2 id="combo" th:text="|Historia: ${post.story.title}|">tytuł</h2>
    <article>
        <section th:utext="${post.postBody}">
            Wpis do Historii
        </section>
        <footer>
            <br/>
            <p th:text="${#calendars.format(post.postedOn, 'MM/dd/yyyy HH:mm:ss')}">Data, w której dodano Wpis.</p>
            <p th:text="|${post.user.fullName}|">Nazwa dodającego Wpis.</p>
            <p>Czytaj całą <a th:href="|@{/stories/view/}${post.story.id}|"> Historię <span class="badge" th:text="|${post.story.posts.size()} Wpisów|">n</span></a>
                lub przejdź do sekcji z
            <a id="comments" th:href="|@{/stories/comments/}${post.id}|"> Komentarzami <span class="badge" th:text="${post.comments.size()}">n</span></a>
            dla tego Wpisu.</p>
        </footer>
    </article>
</div>
</body>
</html>